@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Atkinson Hyperlegible", sans-serif;

    scroll-padding-top: 80px;
  }
  body {
    @apply min-h-screen;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h1 {
    @apply text-4xl font-bold;
  }

  .prose > a {
    @apply underline hover:cursor-pointer;
  }

  .prose > p {
    @apply text-base;
  }
}

@for $i from 1 through 6 {
  .prose h#{$i} > a {
    font-weight: inherit !important;
    text-decoration-line: none;
    color: inherit !important;

    &:hover {
      text-decoration-line: underline;
    }
  }
}

.prose > table {
  display: table !important;
}
